/* must have a set height or else the google map doesn't work */
html {
	height: 100%
}

body {
	height: 100%;
	background-color: #fffafa;
	color: #383838;
}

.container {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	position: fixed;
	left: 0px;
	z-index: 5;
}

.map {
	float: left;
	height: 100%;
	width: 75%;
}

.menu {
	width: 25%;
	height: 100%;
	float: right;
	overflow-y: scroll;
}

input {
	width: 90%;
	margin: auto;
}

ul {
	padding: 0 0 0 10px;
	list-style: inside;
}

li {
	margin: 0.8em 0 0 0;
}

li span {
	text-decoration: underline;
	cursor: pointer;
}

.infowindow {
	border: 1px #383838 solid;
	border-radius: 10px;
	padding: 1em;
}

.iwName {
	text-align: center;
	margin: 0 0 5px 0;
}

.rating {
	border: 1px #717171 solid;
	border-radius: 5px;
	padding: 0.2em;
}

.rating:first-of-type {
	margin: 0 0 5px 0;
}

.rating * {
	display: inline;
	margin: auto 2px;
}

.mobile-menu {
	height: 32px;
	display: none;
}

.mobile-places {
	float: left;
	width: 350px;
	height: 100%;
	padding-top: 40px;
}

@media (max-width: 780px) {
	body {
		font-size: 12px;
	}

}

@media (max-width: 500px) {

	.mobile-menu {
		display: inline;
		margin: 0px;
		padding: 0px;
	}

	.menu {
		display: none;
	}

	.mobile-search {
		font-size: 20px;
		height: 24px;
		width: calc(100% - 40px);
		margin: 0px;
		padding: 0px;
		position: absolute;
		top: 4px;
		left: 34px;
	}

	.mobile-menu-icon {
		margin: 0px;
		padding: 0px;
	}

	.map {
		width: 100%;
		height: calc(100% - 32px);
	}

}
